[Unit]
Description=gostream
After=network.target

[Service]
ExecStart=/opt/gostream/gostream
Restart=always
User=root
Group=root
WorkingDirectory=/opt/gostream/
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=gostream
Environment=PATH=/bin

[Install]
WantedBy=multi-user.target

