<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body ng-app="listStreams" ng-cloak>
  <md-list ng-controller="ListCtrl" ng-cloak>
    <div layout="row">
      <md-input-container class="md-block" flex>
        <label>Search</label>
        <input type="text" ng-model="searchFilter">
      </md-input-container>
      <md-select ng-model="bitrate" placeholder="Bitrate" class="md-no-underline">
        <md-option value="2048">2Mbps</md-option>
        <md-option selected value="1024">1Mbps</md-option>
        <md-option value="512">512kbps</md-option>
      </md-select>
      <md-select ng-model="resolution" placeholder="Resolution" class="md-no-underline">
        <md-option selected value="1080">1080p</md-option>
        <md-option value="720">720p</md-option>
        <md-option value="480">480p</md-option>
      </md-select>
    </div>
    {{ status }}
    <input class="ng-hide" id="input-file-id" multiple type="file" />
    <label for="input-file-id" class="md-button md-raised md-primary">Import CSV</label>
    <md-subheader class="md-no-sticky">Stream List</md-subheader>
    <md-list-item ng-repeat="stream in sources | filter: searchFilter" class="noright">
      <md-icon md-font-icon="av" aria-label="Stream URL">movie</md-icon>
      <md-icon class="md-secondary" ng-click="star_icon=changeStar(star_icon)">{{ star_icon || 'star_border' }}</md-icon>
      <md-icon class="md-secondary" ng-click="editSource($event,stream)" aria-label="Chat">edit</md-icon>
      <p>{{ stream.Name }}</p>
      <a href="/stream/{{ stream.Id }}/player.html"><md-icon md-font-icon="av" aria-label="Play HLS in Browser">live_tv</md-icon></a>
      <a href="/stream/{{ stream.Id }}/hls.m3u8"><md-icon md-font-icon="av" aria-label="Play in Android">android</md-icon></a>
      <a href="/stream/{{ stream.Id }}/stream.ts"><md-icon md-font-icon="content" aria-label="Stream URL">link</md-icon></a>
      <a href="/stream/{{ stream.Id }}/list.m3u"><md-icon md-font-icon="av" aria-label="Play in playlist">playlist_play</md-icon></a>
    </md-list-item>
  </md-list>
  
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

  <script type="text/ng-template" id="dialogContent.tmpl.html">
    <md-dialog class="fullscreen-dialog" aria-label="Full Screen Dialog Test">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Update source</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon>close</md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-dialog-content>
        <form name="userForm"></form>
        <md-input-container flex="flex">
          <label>ID</label>
          <textarea ng-model="source.Id" disabled></textarea>
        </md-input-container>
	</br>
        <md-input-container flex="flex">
          <label>Name</label>
          <textarea ng-model="source.Name" columns="1" md-maxlength="150"></textarea>
        </md-input-container>
	</br>
        <md-input-container flex="flex">
          <label>URL</label>
          <textarea ng-model="source.Url" columns="1" md-maxlength="150"></textarea>
        </md-input-container>
      </md-dialog-content>
      <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="confirm(source)">
          Update
        </md-button>
      </md-dialog-actions>
      </md-dialog>
  </script>
 
 
<script>
angular.module('listStreams', ['ngMaterial'])
.controller('ListCtrl', function($scope, $mdDialog, $http) {

  $scope.changeStar = function(star) {
    return (star=='star')?'star_border':'star';
  }

  $scope.editSource = function(evt, src) {
    source = angular.copy(src);
    return $mdDialog.show({
        controller: function($scope) {
          return angular.extend($scope, {
            source,
            cancel: function() {
              return $mdDialog.cancel();
            },
	    confirm: function() {
	      return $mdDialog.hide(source);
	    }
          });
        },
	clickOutsideToClose:true,
        templateUrl: 'dialogContent.tmpl.html',
        targetEvent: evt
    }).then(function(source) {
        $http.post("/sources", angular.toJson(source));
    }).then(function(response) {
    	$scope.updateSources();
    });
  };

  $scope.updateSources = function() {
    $http.get("/sources").then(function(response) {
      $scope.sources = angular.fromJson(response.data);
    });
  }
 
  $scope.updateSources();

});
</script>

<style>
.listdemoListControls md-divider {
  margin-top: 0;
  margin-bottom: 0; }

.listdemoListControls md-list {
  padding-top: 0; }

.listdemoListControls md-list-item > p,
.listdemoListControls md-list-item > .md-list-item-inner > p,
.listdemoListControls md-list-item .md-list-item-inner > p,
.listdemoListControls md-list-item .md-list-item-inner > .md-list-item-inner > p {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */ }


</style>
</html>
